html, body{
    padding: 0px;
    margin:0px;
    width:100%;
    height:100%;
    font-size:100%;
    position:absolute;
}

#wrap{
  position:absolute;
  height:100%;
  width:100%;
  top:0px;
  background: url('../images/homepageBW.png') no-repeat center center scroll; 
  /*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 10;
}

#nav {
    font-family:'Cabin', sans-serif;
    font-weight:800;
    font-size:5em;
    text-align:right;
    list-style-type:none;
}

#nav li{
    margin:-20px;
    padding-right:21px;
}

#nav a{
    text-decoration: none;
}
#design{
    color:rgba(5,119,129,1)
}
#writing{
    color:rgba(12,90,135,1)
}
#resume{
    color:rgba(52, 169, 229, 1)
}
#about{
    color:rgba(80,160,180,1)
}
#contact{
    color:rgba(165,137,107,1)
}
#name{
    color:rgba(20,50,100,1);
    font-family:'Cabin', sans-serif;
    font-weight:800;
    font-size:5.5em;
    text-align:right;
    margin-top:0px;
    padding-bottom:0px;
    margin-bottom:0px;
}
#name:hover {
    cursor:pointer
}
#motto{
    font-family:'Seaweed Script', cursive;
    text-align:right;
    font-size:1.9em;
    color:rgba(255,255,255,0.89);
    margin-top:-30px;
    margin-right:10px;
}

#designPage{
    width:100%;
    height:100%;
    background-color:rgba(5,119,129,1);
    visibility:hidden;
}
#writingPage{
    width:100%;
    height:100%;
    background-color:rgba(12,90,135,1);
    visibility:hidden;
}
#resumePage{
    width:100%;
    height:100%;
    background-color:rgba(52, 169, 229, 1);
    visibility:hidden;
}
#aboutPage{
    width:100%;
    height:100%;
    background-color:rgba(100,198,205,1);
    visibility:hidden;
}
#contactPage{
    width:100%;
    height:100%;
    background-color:rgba(165,137,107,1);
    visibility:hidden;
}
.rightside{
    float:right;
    width:68%;
    position:relative;
}
h2{
    font-family:'Seaweed Script',cursive;
    color:#ffffff;
    font-weight:200;
    font-size:4em;
    padding-top:30px;
    margin:auto;
    text-align:center;
    margin-bottom:0px;
    width:80%;
    
}
h3{
    color:#ffffff;
    margin:0px;
    padding:20px;
    margin:auto;
    text-align:center;
    font-weight:200;
    font-size:2em;
}
hr{
    border: none;
    margin-top:-10px;
    background-color: #ffffff;
    height: 1px;
    width:75%;
}
.bodytext{
    font-family:'Noto Serif',serif;
    padding-top:4%;
    line-height:250%;
    color:#ffffff;
    width:60%;
    font-size:0.9em;
    text-align: justify;
    text-justify: inter-word;
    margin:auto;
    padding-bottom:7%;
}
.designgrid{
    padding-top:3%;
    width:70%;
    margin:auto;
}
.sample{
    margin-left:5px;
    margin-top:5px;
    display:inline-block;
    width:48%;
    padding-bottom:20%;
    padding-left:0px;
    padding-right:0px;
    position:relative;
    
}
#Applefest1 {
   position: absolute;
   left: 0px;
   right: 0px;
   top: 0px;
   bottom: 0px;
   background: url(../images/Applefest1-mini.png);
   background-size:cover;
   overflow:hidden;
   opacity:0.9;
}
#Applefest2 {
   position: absolute;
   left: 0px;
   right: 0px;
   top: 0px;
   opacity:0.9;
   bottom: 0px;
   background: url(../images/Applefest2-mini.png);
   background-size:cover;
   overflow:hidden;
}
#Applefest3 {
   position: absolute;
   left: 0px;
   right: 0px;
   top: 0px;
   opacity:0.9;
   bottom: 0px;
   background: url(../images/Applefest3-mini.png);
   background-size:cover;
   overflow:hidden;
}
#Applefest4 {
   position: absolute;
   left: 0px;
   right: 0px;
   top: 0px;
   opacity:0.9;
   bottom: 0px;
   background: url(../images/Applefest4-mini.png);
   background-size:cover;
   overflow:hidden;
}
.overlay{
    background-color:rgba(0, 0, 0, 0.8);
    opacity:0;    
    width:100%;
    height:100%; 
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin:0px;
    padding:0px;
}
#Applefest1:hover .overlay {
    opacity:1;
    /*-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;*/
    transition: all 0.3s ease-in-out;
}
#Applefest2:hover .overlay {
    opacity:1;
    /*-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;*/
    transition: all 0.3s ease-in-out;
}
#Applefest3:hover .overlay {
    opacity:1;
    /*-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;*/
    transition: all 0.3s ease-in-out;
}
#Applefest4:hover .overlay {
    opacity:1;
    /*-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;*/
    transition: all 0.3s ease-in-out;
}
.caption{
    font-family:'Cabin',sans-serif;
    font-weight:lighter;
    font-size:180%;
    color:#ffffff;
    text-align:left;
    top:40%;
    opacity:1;
    position:relative;    
}
.copyright{
    font-family:'Noto Serif',serif;
    color:#ffffff;
    font-size:0.4em;
    text-align:center;
    padding-top:1%;
}
.copyright a{
    text-decoration: none;
    color:deepskyblue;
}
.copyright a:hover, .copyright a:active{
    text-decoration: none;
    color:lemonchiffon;
}
#Bailey{
   position: absolute;
   left: 0px;
   right: 0px;
   top: 0px;
   opacity:0.8;
   bottom: 0px;
   background: url(../images/Baileyhall.jpg);
   background-size:cover;
   background-position:center;
   overflow:hidden;
}
#Bailey:hover .overlay {
    opacity:1;
    /*-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;*/
    transition: all 0.3s ease-in-out;
}
.writingcaption{
    font-family:'Cabin',sans-serif;
    font-weight:lighter;
    font-size:130%;
    color:#ffffff;
    text-align:left;
    top:35%;
    padding-left:2%;
    opacity:1;
    position:relative;   
}
.title{
    font-style:italic;
}
#HomeInterrupted{
   position: absolute;
   left: 0px;
   right: 0px;
   top: 0px;
   opacity:0.8;
   bottom: 0px;
   background: url(../images/forcedeviction.jpg);
   background-size:cover;
   background-position:center;
   overflow:hidden;
}
#HomeInterrupted:hover .overlay {
    opacity:1;
    /*-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;*/
    transition: all 0.3s ease-in-out;
}
#Legacy{
   position: absolute;
   left: 0px;
   right: 0px;
   top: 0px;
   opacity:0.8;
   bottom: 0px;
   background: url(../images/14567602125_bb7be178bf_z.jpg);
   background-size:cover;
   background-position:center;
   overflow:hidden;
}
#Legacy:hover .overlay {
    opacity:1;
    /*-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;*/
    transition: all 0.3s ease-in-out;
}
#Inflation{
   position: absolute;
   left: 0px;
   right: 0px;
   top: 0px;
   opacity:0.8;
   bottom: 0px;
   background: url(../images/library.jpg);
   background-size:cover;
   background-position:center;
   overflow:hidden;
}
#Inflation:hover .overlay {
    opacity:1;
    /*-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;*/
    transition: all 0.3s ease-in-out;
}
.midpage{
    margin-top:-5%;
}
.midpage a{
    text-decoration: none;
    color:#ffffff
}
.midpage a:active, .midpage a:hover{
    color:lemonchiffon;
}
.myButton {
	background-color:transparent;
	border:5px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Cabin',sans-serif;
	font-size:17px;
	padding:2% 5%;
	text-decoration:none;
    margin-left:37.5%;
    text-align: center;
    
}
.myButton:hover {
	background-color:transparent;
}
#profile{
    float:right;
    width:35%;
    height:30%;
    margin-top:6%;
    border:2px solid white;
}
#aboutme{
    float:left;
    line-height:268%;
    padding-bottom:3%;
}
#aboutwrap{
    width:65%;
    margin:auto;
}
h3{
    font-family:'Seaweed Script',cursive;
    color:#ffffff;
    font-weight:300;
    font-size:4em;
    padding-top:0px;
    margin-top:0%;
    position:relative;
    width:10%;
}
#formwrap{
    width:45%;
    margin:auto;
}
.contact{
    font-family:"Noto Serif", serif;
    color:#ffffff;
}

#button {
    background-color:transparent;
	border:5px solid #ffffff;
	display:block;
    margin:auto;
	cursor:pointer;
	color:#ffffff;
	font-family:'Noto Serif',serif;
	font-size:17px;
	padding:2% 5%;
	text-decoration:none;
    border-radius:0px;
    text-align:center;
    width:25%
    
}
form.email input, form.email textarea {
    font-family: Georgia;
    font-size: 15px;
    margin: 0 0 5px 0;
    background: #f5f5f5;
    padding: 5px;
    border: 1px solid #bbb;
    border-radius: 5px;
    width:100%;
}
form.email textarea {
    background: #f5f5f5;
    padding: 5px;
    border: 1px solid #bbb;
    border-radius: 5px;
    width:100%;
    height:20%;
}
.contactcircles{
    width:55%;
    margin:auto;
}
.contactcircles a{
    text-decoration: none;
}
.circle{
    width:120px;
    height:120px;
    position:relative;
    margin-left:3%;
    margin-right:3%;
    margin-top:8%;
    margin-bottom:0%;
}
.emailresult{
    background-color:rgba(165,137,107,1);
}
.emailthanks{
    text-align:center;
    font-size:1em;
    font-family:"Noto Serif",serif;
    color:#ffffff;
    margin:5%;
}
.backButton {
	background-color:transparent;
	border:5px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Noto Serif', serif;
	font-size:15px;
	font-weight:bold;
	padding:18px 28px;
	text-decoration:none;
    margin-left:43%;
    margin-top:10%;
}


/*Begin media queries (NOTE: this website was designed on a 1280 x 800 screen & optimized for Chrome. Tested in Safari & Firefox, but not IE.)*/
 


@media screen 
  and (max-width: 1199px)  {
      .rightside{
          width:60%;
      }
      h2{
          font-size:3em;
      }
      .bodytext{
          font-size:0.8em;
      }
      #aboutme{
          line-height:200%;
          font-size:0.8em;
      }
      #profile{
          width:30%;
          height:40%;
      }
      .myButton{
          margin-left:35%;
      }
      .circle{
          width:100px;
          height:100px;
          margin-bottom:3%;

      }
      .contactcircles{
          width:65%;
          margin:auto;
      }
      #button {
          width:45%;
      }
      #emailbottom{
          visibility:hidden;
          font-size:2em;
      }
      #nav{
          font-size:4em;
      }
      .caption{
          font-size:120%;
          top:35%;
      }
      .writingcaption{
          font-size:90%;
          top:30%;
      }
      .backButton{
          margin-left:40%;
      }
      
}
@media (max-height: 622px) and (max-width: 1280px){
        #name{
            font-size:4.5em;
        }
        #nav{
            font-size:4em;
        }
        #motto{
            font-size:1.5em;
        }
        .bodytext{
            font-size:0.7em;
        }
      
        h2{
          font-size:2.5em;
        }
        #aboutme{
          line-height:200%;
          font-size:0.8em;
      }
        #profile{
          width:25%;
          height:20%;
      }
        #emailbottom{
            visibility:hidden;
        }
    form.email input, form.email textarea{
        font-size:0.8em;
    }
    .contact{
        font-size:0.7em;
    }
    #formwrap{
        margin-top:2%;
    }
}
@media (max-width:1199px){
    #profile{
          width:35%;
          height:28%;
      }
}
@media (max-width:920px){
      .caption{
          font-size:90%;
          top:30%;
      }
      .writingcaption{
          font-size:80%;
          top:20%;
      }
}
@media (max-width:760px){
     .caption{
          font-size:80%;
          top:30%;
      }
     .writingcaption{
          font-size:70%;
          top:10%;
      }
}
@media (max-width:600px){
     .caption{
          font-size:70%;
          top:30%;
      }
     .writingcaption{
          font-size:60%;
          top:7%;
      }
}
@media (max-width:1000px){
    #aboutme{
          line-height:200%;
          font-size:0.7em;
      }
    .circle{
          width:90px;
          height:90px;
          margin-bottom:3%;

      }
    .long{
            width:80%;
            margin:auto;
        }
}
@media screen 
    and (max-width: 900px){
        #name{
            font-size:4.5em;
        }
        #motto{
            font-size:1.5em;
            margin-top:-25px;
        }
        #nav{
            font-size:3.5em;
        }
        .bodytext{
          font-size:0.7em;
          line-height:200%;
      }
        #aboutme{
          line-height:200%;
          font-size:0.65em;
          width:50%;
      }
        #profile{
             width:35%;
             height:30%;
        }
        .circle{
          width:90px;
          height:90px;
          margin-bottom:3%;

      }
        .contactcircles{
          width:70%;
          margin:auto;
      }
        
        #aboutwrap{
            width:80%;
        }
        h2{
            font-size:2.6em;
        }
        .sample{
            margin-left:3px;
            margin-top:3px;
            padding-bottom:25%;
        }
        .rightside{
            width:55%;
        }
        .circle{
          width:80px;
          height:80px;
          margin-bottom:3%;

      }
        .myButton{
            margin-left:33%;
    }
}

@media screen and (max-width:768px){
     #profile{
        float:none;
        margin:auto;
        display:block;
        width:25%;
        height:25%;

    }
    #aboutme{
        float:none;
        margin:auto;
        clear:both;
        width:100%;
    }
    #aboutwrap{
        width:80%;
    }
}

@media screen and (max-width:650px){
    .sample{
        margin-left:1px;
        margin-top:1px;
    }
}






@media screen 
    and (max-width: 800px)  {
    .bodytext{
        font-size:0.65em;
        
    }
    .circle{
        width:70px;
        height:70px;
    }
}
@media screen and (max-width:720px){
    #name{
        font-size:3.5em;
    }
    #nav{
        font-size:3em;
    }
    #motto{
        font-size:1.25em;
        margin-top:-20px;
    }
}
@media screen and (max-width: 691px){
    .circle{
        width:60px;
        height:60px;
    }
}
    
@media screen and (max-width: 600px){
    .circle{
        width:50px;
        height:50px;
    }
}
    






@media screen and (orientation:portrait){
    .rightside{
        width:95%;
    }
    .circle{
        width:20%;
        height:auto;
        margin-left:4%;
        margin-right:4%;
        margin-bottom:3%;
    }
    .contactcircles{
        width:50%;
        margin:auto;
}
    #profile{
        float:none;
        margin:auto;
        display:block;
        width:25%;
        height:25%;

    }
    #aboutme{
        float:none;
        margin:auto;
        clear:both;
        width:100%;
    }
    #aboutwrap{
        width:80%;
    }
    .emailthanks{
        font-size:1.2em;
    }
   
}
@media (max-width:768px){
    .myButton{
        margin-left:30%;
    }
    .backButton{
          margin-left:35%;
      }
}
@media (max-width:700px){
    .myButton{
        margin-left:28%;
    }
    .backButton{
          margin-left:33%;
      }
}
@media (max-width:650px){
    .myButton{
        margin-left:27%;
    }
    .backButton{
          margin-left:32%;
      }
}

@media (orientation: portrait) and (max-width:550px){
     .myButton{
        margin-left:33%;
    }
    .backButton{
          margin-left:38%;
      }
}
@media (orientation: portrait) and (max-width:500px){
     .myButton{
        margin-left:32%;
    }
    .backButton{
          margin-left:36%;
      }
}

@media (orientation: portrait) and (max-width:450px){
     .myButton{
        margin-left:30%;
    }
    #name{
        padding-top:30%;
    }
    .backButton{
          margin-left:35%;
      }
    }

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
    #name{
        font-size:2em;
    }
    #nav{
        font-size:2em;
    }
}
